@mixin small { @media (max-width: 959px) {
    @content;
    }
}
.add-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include small{
        flex-flow: column;
    }

    .main-card{
        height: 87vh;
        width: 90vw;
        background-color: #fff;
        border-radius: 1rem;
        display: flex;
        // margin-top: -4rem;
        @include small{
            flex-flow: column;
            height: auto;
        }

        .city-search-wrapper{
            display: flex;
            flex-flow: column;
            flex: 1 1;
            position: relative;
            overflow-y: auto;
            @include small{
                width: 100%;
            }

            .city-search-header{
                width: 100%;
                min-height: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: column;
                @include small{width: 100%;}

                .city-search-title{
                    color: #0c1066;
                    margin: 4rem 0 3rem;
                    font-size: 1.85rem;
                    letter-spacing: .1rem;
                    @include small{
                        margin: 2rem;
                    }
                }
                .search-city-input-wrapper{
                    position: relative;
                    width: 80%;
                    box-sizing: border-box;

                    .search-city-input{
                        box-sizing: border-box;
                        width: 100%;
                        padding: 1.5rem;
                        border-radius: 3rem;
                        outline: none;
                        border: none;
                        box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
                        font-size: 1rem;
                        color: #131F69;
                        text-transform: uppercase;
                    }
                    
                    
                    .search-city-btn{
                        cursor: pointer;
                        position: absolute;
                        background-color: #31feae;
                        height: 5rem;
                        width: 5rem;
                        border-radius: 50%;
                        right: 0;
                        top: -0.35rem;
                        outline: none;
                        border: none;
                        z-index: 5;
                        box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
                        .search-icon{
                            width: 50%;
                            height: 50%;
                        }
                    }
                }
            }
            .city-search-body{
                @include small{width: 100%;}
            }
            

            
        }

        .fav-city-wrapper{
            flex: 1 1;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            height: 100%;
            background-color: rgb(167, 165, 165);
            @include small{
                height: auto;
                border-radius: 0 0 1rem 1rem;
                width: 100%;
            }

            .fav-city-image {
                position: absolute;
                right: 0;
                bottom: 0;
                border-radius: 0 1rem 1rem 0;
                height: 100%;
            }
            .fav-city-header{
                position: relative;
                color: white;
                display: flex;
                flex-flow: column;
                align-items: center;
                box-sizing: border-box;
                @include small{width: 100%;}

                .fav-city-tittle{
                    font-size: 1.85rem;
                    letter-spacing: 0.1rem;
                    word-break: break-all;
                }
            }

            .fav-city-body{
                @extend .fav-city-header;
                @include small{width: 100%;}
                .fav-city-body-subwrapper{
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;

                    .fav-weather-icon{
                        width: 7rem;
                        margin-bottom: 4rem;
                    }
                    .fav-city-info{
                        display: flex;
                        flex-flow: column;
                        text-align: center;
                        margin-top: -2rem;

                        .fav-city-temp{
                            font-size: 5rem;
                            text-align: center;
                        }
                        .fav-city-name-wrapper{
                            margin-bottom: 2rem;
                            .fav-city-name{
                                font-size: 2rem;
                                letter-spacing: 0.1rem;
                            }margin-left: 0.75rem;
                            .fav-city-country{
                                margin-left: 0.75rem;
                            }
                        }
                        .fav-city-state{
                            font-size: 1rem;
                            text-transform: uppercase;
                            letter-spacing: 0.5rem;
                            margin-bottom: 2rem;
                        }
                    }
                    .fav-city-added-btn{
                        border: none;
                        background-color: rgba(255, 255, 255, 0.6);
                        
                    }
                    .fav-city-add-btn{
                        cursor: pointer;
                        outline: none;
                        margin-bottom: 2rem;
                        border: 2px solid white;
                        border-radius: 3rem;
                        padding: 1.25rem 2rem;
                        background-color: transparent;
                        color: white;
                        font-weight: bold;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }
}

:host #weatherCardAddCity ::ng-deep .weather-card{
    margin: 3rem auto;       
}
// ul{
//     box-shadow: 0 0 2rem rgba(0,0,255,.3)!important;
//     border: none!important;
//     border-radius: 1rem;
// }